<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <title>Quiz App</title>
  <title>Quiz application</title>
</head>
<body>

<!--Importing NavBar-->
<div th:insert="navbar.html :: navbar"></div>

<!--Main .Container-->
<div class="main-container container py-5 px-4">
  <div class="image-box">
    <img th:src="@{/images/exam.svg}" alt="image">
  </div>
  <div class="text-box">
    <h1 class="mb-5 text-center bg-danger text-center mb-5 p-2">Select Subject </h1>
    <form class="card bg-dark py-2 px-2" action="/quiz" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/quiz}">Mathematics</button>
    </form>

    <form class="card bg-dark py-2 px-2" action="/english" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/english}">English</button>
    </form>

    <form class="card bg-dark py-2 px-2" action="/science" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/science}">Science</button>
    </form>

    <form class="card bg-dark py-2 px-2" action="/history" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/history}">History</button>
    </form>

    <form class="card bg-dark py-2 px-2" action="/geography" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/geography}">Geography</button>
    </form>

    <form class="card bg-dark py-2 px-2" action="/commerce" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/commerce}">Commerce</button>
    </form>

    <form class="card bg-dark py-2 px-2" action="/chemestry" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/chemestry}">Chemestry</button>
    </form>

    <form class="card bg-dark py-2 px-2" action="/principles" method="POST">
      <button type="submit" class="btn btn-warning" th:href="@{/principles}">Principles</button>
    </form>

<!--      <button type="submit" class="btn btn-warning" th:href="@{/geography}">Geography</button>-->
<!--      <button type="submit" class="btn btn-warning" th:href="@{/history}">History</button>-->
<!--      <button type="submit" class="btn btn-warning" th:href="@{/science}">Science</button>-->
<!--    </form>-->
  </div>
</div>

<!--Importing Footer-->
<div th:insert="footer.html :: footer"></div>

<!--Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>